---
layout: default
---
<div class="title-wrapper">
	<div class="row">
		<div class="header">
			<h1>{{ page.title }}</h1>
		</div>
	</div>
</div>

<div class="row post" id="main-content">
	<div class="medium-9 columns right">
		{{ content }}
	</div>
	<div class="medium-3 columns">
		<ul class="side-nav">

			<li><label>The Framework</label></li>
			{% for post in site.categories.framework. %}
				<li><a href="/StacheStack{{ site.url }}{{ post.url }}">{{ post.title }}</a></li>
			{% endfor %}

			<li><label>Child Themes</label></li>
			{% for post in site.categories.child-themes. %}
				<li><a href="/StacheStack{{ site.url }}{{ post.url }}">{{ post.title }}</a></li>
			{% endfor %}
			<hr>

			<li><label>Classes</label></li>
			{% for post in site.categories.classes. %}
				<li><a href="/StacheStack{{ site.url }}{{ post.url }}">{{ post.title }}</a></li>
			{% endfor %}
			<hr>

			<li><label>Functions</label></li>
			{% for post in site.categories.functions. %}
				<li><a href="/StacheStack{{ site.url }}{{ post.url }}">{{ post.title }}</a></li>
			{% endfor %}
			<hr>

			<li><label>Actions</label></li>
			{% for post in site.categories.actions. %}
				<li><a href="/StacheStack{{ site.url }}{{ post.url }}">{{ post.title }}</a></li>
			{% endfor %}
			<hr>

			<li><label>Filters</label></li>
			{% for post in site.categories.filters. %}
				<li><a href="/StacheStack{{ site.url }}{{ post.url }}">{{ post.title }}</a></li>
			{% endfor %}
			<hr>
		</ul>
	</div>
</div>